.days_show{
    .trip{
        &:hover{
            color: var(--yellow);
        }
    }

    .diary{
        background-image: url(/img/diary.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        
    }

    

}